<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY0iHOEUMUhgP9xg27stg28ZHHoGQMyHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793823331985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamISB.TapIn</string>
	<key>PROJECT_ID</key>
	<string>tapin-a2dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>tapin-a2dcf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793823331985:ios:022d444b53efc032d6e130</string>
</dict>
</plist>